<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/86044a3c-38a7-40cc-8f1f-1540fffdb648/resourcegroups/ContosoSite20181226083122ResourceGroup/providers/Microsoft.Web/sites/ContosoSite20181226083122</ResourceId>
    <ResourceGroup>ContosoSite20181226083122ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://contososite20181226083122.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>contososite20181226083122.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ContosoSite20181226083122</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ContosoSite20181226083122</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ContosoUniversityDataEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:contososite20181226083122dbserver.database.windows.net,1433;Initial Catalog=ContosoSite20181226083133_db;Persist Security Info=True;User ID=suraj@contososite20181226083122dbserver;Password=Dec12@2018" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ContosoSite.Models.ContosoUniversityDataEntities, ContosoSite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ContosoUniversityDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ContosoModel.csdl|res://*/Models.ContosoModel.ssdl|res://*/Models.ContosoModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:contososite20181226083122dbserver.database.windows.net,1433;Initial Catalog=ContosoSite20181226083133_db;Persist Security Info=True;User ID=suraj@contososite20181226083122dbserver;Password=Dec12@2018"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>