@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>University Institute Of Technology</h1>
    <p class="lead">University Institute Of Technology is an engineering college affiliated to The University Of Burdwan. It offers various courses in 
    engineering like Electrical Engineering, Civil Enginneering etc.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
    </div>
</div>